
body{
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Merriweather', serif;
}

.logo span{
    color: red;
}

.btn{
    background-color: red;
    border-radius: 100px;
    padding: 10px 30px;
}