
body{
    font-family: 'Anek Devanagari', sans-serif;
    font-family: 'Merriweather', serif;
}

.logo span{
    color: red;
}

.btn{
    background-color: red;
    border-radius: 100px;
    padding: 10px 30px;
}

.home{
    background: url(images/bg1.jpg);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

nav{
    z-index: 999 !important;
    position: fixed;
    top: 0;
    width: 100%;
}



nav ul{
    z-index: 999 !important;
}


@media screen and (max-width:800px){
    nav{
        background-color: #1f1d1d;
        opacity: 60%;
    }

    nav ul{
        background-color: #1f1d1d;
    }
}

.home-text{
    /* border: 2px solid red; */
    padding-top: 220px;
}